:root {
  --text-color-spec-secondary: #{$text-color-spec-secondary};
  --thumbs-gap: #{$thumbs-gap};
  --fake-progress-bg: #{$fake-progress-bg};
  --fake-progress-color: #{$fake-progress-color};
  --fake-progress-height: #{$fake-progress-height};
}
