.footer {
  $indent: 10 * .0625rem;
  margin-top: 30px;
  padding: $indent 0;
  background-color: var(--footer-background-c);
  color: var(--footer-text-primary);

  > .d-flex,
  > .d-sm-flex,
  > .d-md-flex,
  > .d-lg-flex {
    align-items: center;
  }

  &__logo {
    min-width: 300px;
    margin-bottom: $indent;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  &__info {
    flex-grow: 1;
    margin-bottom: $indent;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  &__counters {
    display: flex;
    justify-items: center;
    justify-content: center;
    min-width: 300px;
  }

  &__row {
    margin-bottom: $indent;
    line-height: 1.2;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: var(--footer-text-secondary);
    text-decoration: var(--link-decoration);
    outline: 0;

    &:hover,
    &:focus,
    &:active {
      color: var(--footer-text-primary);
      text-decoration: var(--link-hover-decoration);
    }
  }
}
