.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid var(--border-color--divider);
}

.header__logo-wrapper {
  justify-content: center;
  padding: 0 10px;
  width: 100%;

  @include media-breakpoint-up(lg) {
    justify-content: flex-start;
    width: auto;
  }
}

.header__nav-wrapper {

}

.header__search-wrapper {

}
