/**
 * Логотип сайта.
 */
.logo {
  display: block;
  padding: 5px 0;
  width: 100%;
  min-height: 50px;

  &.-head {
    margin-right: 20px;
  }

  &__img {
    margin-right: 5px;
    display: block;
    width: auto;
    height: 40px;
    object-fit: contain;
  }

  &__link {
    display: flex;
    height: 40px;
    align-items: center;
  }

  &__title {
    display: block;
    font-size: 1.35rem;
    font-weight: 400;
    line-height: 1;
    color: $logo-title-color;
    text-decoration: none;
    white-space: nowrap;
    outline: 0;

    &:hover,
    &:active,
    &:focus {
      color: $logo-title-color;
      text-decoration: none;
    }

    > span {
      color: $logo-title-highlight-color;
    }
  }

  &__subtitle {
    display: block;
    width: 100%;
    font-size: 14 * .0625rem;
    line-height: 1;
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }
}
