.thumbs-sort {
  display: flex;
  flex-grow: 1;
  min-width: 100%;
  margin-left: -5px;
  margin-right: -5px;
  padding: 0 3px;

  @include media-breakpoint-up(md) {
    flex-grow: 0;
    min-width: fit-content;
  }

  &__item {
    display: block;
    width: 50%;
    padding: 0 2px;

    @include media-breakpoint-up(md) {
      flex-grow: 0;
      width: auto;
    }


    &.active .thumbs-sort__link {
      background: $thumbs-sort-link-active-bg;
      color: $thumbs-sort-link-active-color;
      border-top: solid 1px lighten($thumbs-sort-link-active-bg, 25%);
      border-bottom: solid 1px darken($thumbs-sort-link-active-bg, 25%);
      cursor: default;
    }
  }

  &__link {
    display: block;
    width: 100%;
    margin-right: 10px;
    padding: .6rem 1rem;
    @if $thumbs-sort-link-border-radius != 0 {
      border-radius: $thumbs-sort-link-border-radius;
    }
    background: $thumbs-sort-link-bg;
    color: $thumbs-sort-link-color;
    border-top: solid 1px lighten($thumbs-sort-link-bg, 25%);
    border-bottom: solid 1px darken($thumbs-sort-link-bg, 25%);
    text-align: center;
    line-height: 1.25;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      background: $thumbs-sort-link-hover-bg;
      color: $thumbs-sort-link-hover-color;
      border-top: solid 1px lighten($thumbs-sort-link-hover-bg, 25%);
      border-bottom: solid 1px darken($thumbs-sort-link-hover-bg, 15%);
    }
  }

  &.-bottom {
    display: none;

    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
}
