.thumb-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 2px 4px;
  margin: 5px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.35);
  color: white;
  line-height: 1;
  font-size: 0.75rem;
  font-style: normal;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  transition: all 0.25s ease;

  & > i,
  & > .icon {
    display: inline-flex;
    width: 0.75rem;
    font-size: 0.5625rem;
    margin-right: 3px;
  }

  &.-tl {
    top: 0;
    left: 0;
  }

  &.-tr {
    top: 0;
    right: 0;
  }

  &.-bl {
    bottom: 0;
    left: 0;
  }

  &.-br {
    bottom: 0;
    right: 0;
  }
}
